/*
Aspect Ratios:
Iphone 12: 2560 x 1170 = 2.164
WQHD: 2560 x 1440 = 1.7777
MacBook Pro: 2880 x 1800 = 1.6
*/

:root {
  --green: #50fa7b;
  --yellow: #ffb86c;
  --red: #ff5555;
  --background: #282a36;
}

@font-face {
    font-family: "P5Font";
    src: url("../css/p5hatty.ttf") format("truetype");
}

.main-text {
    font-family: "P5Font";
    font-size: 2vw;
    word-wrap: normal;
}

p {
    margin: 0;
}


h1 {
  font-size: 4vw;
  text-align: center;
  position:  relative;
}

h1:hover {
    cursor: pointer;
}

h2 {
    font-size: 3vw;
    text-align: center;
    position: relative;
    text-transform: capitalize;
}

caption {
    font-size: 2vw;
    text-align:center;
    position: relative;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    gap: 20vh 3vw;
    margin: 0;
    list-style: none;
}



.flex-item {
    background: transparent;
    width: 5vw;
    height: 5vh;
    margin-top: 10px;
    color: #bbb;
    text-align: center;
}

.flex-item:hover {
    cursor: pointer;
}

.overflow {
    max-height:60vh;
    width: 8vw;
    overflow:hidden;
    overflow-y:scroll;
}

.tooltip {
    position: relative;
    text-align:center;
}

svg {
    fill: #000;
    width: 5vw;
    height: 20vh;
}

.tooltip span {
    visibility: hidden;
    width: 150px;
    background-color: #282a36;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;
    position:absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    opacity: 0;
    transition: all 1s ease-out 0s;
}

.nav,
.title {
    text-transform: uppercase
}

* {
    box-sizing: border-box
}

.back,
.nav {
    position: fixed;
    z-index: 999;
    float: left
}

body {
    background: var(--background);
    font-family:'Roboto Condensed','Roboto','Segoe UI', Arial, sans-serif;
    color: #f8f8f2;
    font-size: 16px;
    padding: 0 20px;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -ms-font-feature-settings: "kern";
    -o-font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern"
}

#table-wrapper {
    width: 70vw;
    min-height: 80vh;
    margin: 0 auto;
}

.main {
    max-width: 960px;
    margin: 0 auto
}

.top {
    margin: 0px;
    color: #BBBBBB;
}

.bot {
    margin: 35px;
    font-size: 11px;
    color: #ffffff;
}

.text-block {
    max-width: 768px;
    margin: 30px auto
}

.cross_cell {
    width: 3vw;
    height: 6vh;
}

td {
    text-align: center;
    vertical-align: middle;

}

table, th, td {
  border: 2px solid grey;
}

table tr {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

table {
    table-layout: fixed;
    margin: 30px;
    max-width: 60vw;
}

.con {
    width: 60vw;
}

.table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0
}

.table__description {
    margin: 30px 0
}
.table__description-right {
    margin: 0 0 30px 0;
}

.table__cell {
    padding: 5px 15px
}

.table__cell--head {
    border-bottom: 3px solid rgba(255, 255, 255, .15)
}


.footer {
    width: 100%;
}

footer {
  position: relative;
  text-align: center;
  font-size: 0.6em;
  left: 0;
  bottom: 0;
  right: 0;
  height: 25px;
  margin: 20px;
  width: 95%;
  bottom: 0;
}

footer p {
  margin: 0;
}


canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

.sidebar {
    background-color: transparent;
    border: none;
    color: #008000;
    transition: box-shadow .5s ease;
    margin-bottom: -.05em;
    padding: .1vw;
    box-shadow: 0 .75vh .25vh -.5vh transparent;
    -moz-box-shadow: 0 .75vh .25vh -.5vh transparent;
    -webkit-box-shadow: 0 .75vh .25vh -.5vh transparent
}

.menu-button {
    position: fixed;
    font-size: 1.5em
}

.menu-button {
    bottom: 0;
    z-index: 1000;
    padding: 0;
    left: 5vw;
    bottom: 6vh;
    border: none;
    color: #f8f8f2;
    background: 0 0
}

.menu-button span {
    display: none
}



.menu-wrap {
    position: fixed;
    font-size: 1.5em;
    z-index: 999;
    background: #282a36;
    -webkit-transition: width .3s, height .3s;
    transition: width .3s, height .3s;
    bottom: 12vh;
    left: 5vw;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    border: 1px solid #2b2b2b
}

.link-list button:hover {
    color: #7d8194;
/*    color: #64697d*/
}

.tooltip:hover span {
    visibility: visible;
    -webkit-opacity: 0.90;
    -moz-opacity: 0.90;
    opacity: 0.90;
}

.sidebar:hover {
    box-shadow: 0 .75vh .25vh -.5vh #8be9fd;
    -moz-box-shadow: 0 .75vh .25vh -.5vh #8be9fd;
    -webkit-box-shadow: 0 .75vh .25vh -.5vh #8be9fd
}

.menu-button:hover {
    opacity: .6
}



@media screen and (max-aspect-ratio: 1.5) {
    .menu-button {
        width: 4vh;
        font-size: 5em;
    }
    .menu-wrap {
        bottom: 10vh;
        left: 4vw
    }

    .cross_cell {
        width: 6vw;
        height: 3vh;
    }

    svg {
        width: 16.5vw;
        height: 15vh;
    }

    .main-text {
        font-size: 6vw;
    }

    #table-wrapper {
        min-height: 100vh;
    }

    .flex-item {
        height: 0vh;
        widht: 5vw;
    }

    .flex-container {
        gap: 18vh 12vw;
    }

    .bot {
        font-size: 1.5em;
    }

    .top {
        font-size: 1.7em;
    }

    .overflow {
        width: 10vw;
    }
}

.nav {
    width: 100%;
    display: flex;
    left: 0;
    background: rgba(40, 42, 54, 1);
    font-weight: 700;
    font-size: calc(.3vw + .5vmin);
    will-change: transform;
    transition: transform .2s linear
}

.menu {
    height: 100%;
    opacity: 0;
    font-size: .65em;
    color: #44475a;
    text-align: right
}

.link-list {
    padding: 1.75em 0;
    margin: 0 .75em
}

.link-list button {
    display: block;
    margin: .01em 0;
    color: #ffffff
/*    color: #7d8194;*/
}


.link-list button span {
    margin-left: 10px;
    font-weight: 700;
    vertical-align: middle
}


.show-menu .content::before {
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)

}

.show-menu .menu-wrap {
    width: 10vw;
    height: auto;
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.show-menu .menu {
    opacity: 1;
    -webkit-transition: opacity .3s .3s;
    transition: opacity .3s .3s
}

.hide-menu .content::after {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hide-menu .menu-wrap {
  width: 10vw;
  height: auto;
    -webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.hide-menu .menu {
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-17 5:22:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-20 0:51:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}
