:root {
  --green: #50fa7b;
  --yellow: #ffb86c;
  --red: #ff5555;
  --background: #282a36;
}

h1 {
  font-size: 40px;
  text-align: center;
  position:  relative;
}

h2 {
    font-size: 30px;
    text-align: center;
    position: relative;
    text-transform: capitalize;
}

caption {
    font-size: 20px;
    text-align:center;
    position: relative;
}

.overflow {
    height:60vh;
    width: 10em;
    overflow:hidden;
    overflow-y:scroll;
}

.tooltip {
    position: relative;
    text-align:center;
}

.tooltip span {
    visibility: hidden;
    width: 150px;
    background-color: #282a36;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;
    position:absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    opacity: 0;
    transition: all 1s ease-out 0s;
}

.tooltip:hover span {
    visibility: visible;
    -webkit-opacity: 0.90;
    -moz-opacity: 0.90;
    opacity: 0.90;
}



.nav,
.title {
    text-transform: uppercase
}

.table__note,
.title__subtitle {
    font-style: italic
}

* {
    box-sizing: border-box
}

.back,
.nav {
    position: fixed;
    z-index: 999;
    float: left
}

body {
    background: var(--background);
    font-family:'Roboto Condensed','Roboto','Segoe UI', Arial, sans-serif;
    color: #f8f8f2;
    font-size: 16px;
    padding: 0 20px;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -ms-font-feature-settings: "kern";
    -o-font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern"
}

.main {
    max-width: 960px;
    margin: 0 auto
}

.top {
    margin: 0px;
    color: #BBBBBB;
}

.bot {
    margin: 35px;
    font-size: 11px;
    color: #ffffff;
}

.nav {
    width: 100%;
    display: flex;
    left: 0;
    padding: .3vw;
    background: rgba(40, 42, 54, 1);
    font-weight: 700;
    font-size: calc(.3vw + .5vmin);
    will-change: transform;
    transition: transform .2s linear
}

.table__head {
    color: rgba(255, 255, 255, .5)
}

.table__cell {
    padding: 5px 15px
}

.table__cell--head {
    border-bottom: 3px solid rgba(255, 255, 255, .15)
}


.text-block {
    max-width: 768px;
    margin: 30px auto
}

td {
    text-align: center;
    vertical-align: middle;
}

table, th, td {
  border: 2px solid grey;
}

table tr {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

table {
    table-layout: fixed;
    width: 60%;
    margin: 30px;
}

.table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0
}

@media (min-width:640px) {
    .table {
        min-width: 560px
    }
    .table--inline {
        float: left;
        min-width: 320px;
        margin-right: 30px
    }
    .table--inline--right {
        float: right;
        min-width: 320px;
        margin-right: 30px;
    }
}

.table__description {
    margin: 30px 0
}
.table__description-right {
    margin: 0 0 30px 0;
}

.table__cell {
    padding: 5px 15px
}

.table__cell--head {
    border-bottom: 3px solid rgba(255, 255, 255, .15)
}


.footer {
    width: 100%;
}

.inv {
    opacity: 0;
}

footer {
  position: relative;
  text-align: center;
  font-size: 0.6em;
  left: 0;
  bottom: 0;
  right: 0;
  height: 25px;
  margin: 20px;
  width: 95%;
  bottom: 0;
}

footer p {
  margin: 0;
}


canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}



.sidebar {
    background-color: transparent;
    border: none;
    color: #008000;
    transition: box-shadow .5s ease;
    margin-bottom: -.05em;
    padding: .1vw;
    box-shadow: 0 .75vh .25vh -.5vh transparent;
    -moz-box-shadow: 0 .75vh .25vh -.5vh transparent;
    -webkit-box-shadow: 0 .75vh .25vh -.5vh transparent
}

.sidebar:hover {
    box-shadow: 0 .75vh .25vh -.5vh #8be9fd;
    -moz-box-shadow: 0 .75vh .25vh -.5vh #8be9fd;
    -webkit-box-shadow: 0 .75vh .25vh -.5vh #8be9fd
}

.menu-button {
    position: fixed;
    font-size: 1.5em
}

.menu-button {
    bottom: 0;
    z-index: 1000;
    margin: 1em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    border: none;
    color: #f8f8f2;
    background: 0 0
}

.menu-button span {
    display: none
}

.menu-button:hover {
    opacity: .6
}

.menu-wrap {
    position: fixed;
    font-size: 1.5em;
    z-index: 999;
    background: #282a36;
    -webkit-transition: width .3s, height .3s;
    transition: width .3s, height .3s;
    bottom: 3em;
    left: 2.5em;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    border: 1px solid #2b2b2b
}

@media screen and (max-width:50em) {
    .menu-button {
        margin: .25em
    }
    .menu-wrap {
        bottom: .25em;
        left: .25em
    }
}

.menu {
    height: 100%;
    opacity: 0;
    font-size: .65em;
    color: #44475a;
    text-align: right
}

.link-list {
    padding: 1.75em 0;
    margin: 0 .75em
}

.link-list button {
    display: block;
    margin: .01em 0;
    color: #ffffff
/*    color: #7d8194;*/
}

.link-list button:hover {
    color: #7d8194;
/*    color: #64697d*/
}

.link-list button span {
    margin-left: 10px;
    font-weight: 700;
    vertical-align: middle
}


.show-menu .content::before {
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)

}

.show-menu .menu-wrap {
    width: 170px;
    height: auto;
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.show-menu .menu {
    opacity: 1;
    -webkit-transition: opacity .3s .3s;
    transition: opacity .3s .3s
}

.hide-menu .content::after {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hide-menu .menu-wrap {
  width: 170px;
  height: auto;
    -webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.hide-menu .menu {
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}



/* ----------------------------------------------
 * Generated by Animista on 2023-2-14 18:28:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2023-2-17 5:22:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-20 0:51:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}
