html { 
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  width: 100%;
  min-width: 1150px;
    height: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana;
}


h1 {
  font-size: 40px;
  text-align: center;
  position:  relative;
}

button, select {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #000000;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#333333;
  text-align:center;
  transition: all 0.2s;
}

button:hover, select:hover {
  color:#000000;
  background-color:#FFFFFF;
}
@media all and (max-width:30em){
  button, select{
    display:block;
    margin:0.4em auto;
  }
} 

ul {
    -moz-column-count: 4;
    -moz-column-gap: 40px;
    -webkit-column-count: 4;
    -webkit-column-gap: 40px;
    column-count: 4;
    column-gap: 40px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 10px 0 5px 0;
}

.footer {
  font-size: 0.6em;
}


#mode-text {
  font-size: 0.8em;
  text-align: center;
}

#Sorting {
  text-align: left;
  margin: 30px;
}

/** Mobile **/

body.mobile {
  font-size: 30px;
}

body.mobile #new_spells {
  font-size: 100px;
}

body.mobile h1 {
  font-size: 80px;
}

body.mobile ul {
    -moz-column-count: 1;
    -moz-column-gap: 30px;
    -webkit-column-count: 1;
    -webkit-column-gap: 30px;
    column-count: 1;
    column-gap: 30px;
}

body.mobile button, body.mobile select {
  width: fit-content;
  font-size: 25px;
}

body.mobile #dark-mode-switch {
  top: 10%;
  right: 0;
  width: 0;
}

/** Dark Mode **/

body.dark {
  background-color:  #333333;
}

body.dark #mode-text {
  color:#bbbbbb;
}

body.dark #Sorting {
  color:#bbbbbb;
}

body.dark input, body.dark select, body.dark button  {
  background: #181818;
  border: 1px solid #121212;
  color: #bbbbbb;
}

body.dark button:hover, body.dark select:hover {
  cursor: pointer;
  background-color: #000000;
}

body.dark input[type="checkbox"], body.dark input[type="radio"] {
  filter:  invert(100%) hue-rotate(180deg);
}

body.dark textarea {
  background-color:#121212;
  color: #bbb;
}

body.dark a:visited {
  color: DarkSlateBlue;
}

body.dark a:visited {
  color: DarkSlateBlue;
}

body.dark .title-category {
  color: #ccc;
}

body.dark .title-category:after {
  background-color: #ccc;
}

body.dark h1 {
  color: #bbbbbb;
}

body.dark #flex-wrapper {
  color: #bbbbbb;
}

body.dark #New_Spells {
  color: #bbbbbb;
}

body.dark #footer {
  color: #bbbbbb;
}

/** Dark Mode **/

#footer {
  text-align: center;
  font-size: 0.6em;
  margin: 10px 0 5px 0;
}

#footer p {
  margin: 0;
}

/** Slider **/




#dark-mode-switch {
  position: absolute;
  right: 0;
  top: 50px;
  width: 100px;
}
.switch {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  margin: 0 auto 4px;
}
  
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}
  
input:checked + .slider {
  background-color: #2196F3;
}
  
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/**  Slider **/