@use 'sass:math';

:host {
  --cell-size: 2vw;
  --cell-color: black
}

table {
  table-layout: fixed;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 60vw;
}

td {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  text-align: center;
  vertical-align: middle;
  border: 2px solid var(--cell-color);
  user-select: none;
}

.hidden {
  color: white;
}

.blue-border {
  border: 2px solid blue;
}

table {
  border: 2px solid black;
}

.no-border {
  border-style: revert;
}

.button {
  position: absolute;
  left: 80vw;
  right: 10vw;
  top: 20vh;
}

.letters {
  display: inline;
  margin: 0;
  padding: 0;
}
.cell_hint {
  @extend .letters;
  position: absolute;
  font-size: 0.6em;
  &.l {
    margin-top: calc(var(--cell-size) / 10);
    right: 2px;
  }
  &.r {
    margin-top: calc(var(--cell-size) / 10);
    left: 2px;
  }
  &.u {
    bottom: 0;
    left: 0;
    right: 0;
  }
  &.d {
    top: 0;
    left: 0;
    right: 0;
  }
  &.dil {
    bottom: 0;
    left: 2px;
  }
  &.dir {
    bottom: 0;
    right: 2px;
  }
  &.dilu {
    top: 0;
    left: 2px;
  }
  &.diru {
    top: 0;
    right: 2px;
  }
}