<div class="button">
  <button (click)="fillGrid()" [disabled]="loading">Generate!</button> <br>
  <button (click)="toggleLetters()">@if(hidden_letters) {Show} @else {Hide} Content</button> <br>
  <button (click)="clearDB()">Clear Database</button> <br>
  @if(loading) {
    <p>Database is loading. Please wait...</p>
  }
</div>
<table>
  <tbody>
    @for (columns of cell_grid; track columns) {
      <tr>
        @for (row of columns; track row) {
            <td [class.blue-border]="row.isHint()" [class.no-border]="row.Content == -1" >
              @for (hint of row.HintIndex; track hint) {
                <p class="cell_hint {{row.HintN0[$index] | direction}}">{{this.hint}}</p>
              }
              <p class="letters" [class.hidden]="hidden_letters">{{row.Content | char}}</p>
            </td>
        }
      </tr>
    }
  </tbody>
</table>