:host {
  --cell-size: 2vw;
  --cell-color: black
}

.cell_grid {
  display: grid;
  border: 2px solid black;
  grid-template-columns: 43vw 16.7vw;
  grid-template-rows: calc(97.5vh - 50px)
}

table {
  border: 2px solid black;
}

.main_grid {
  grid-area: 1 / 1;
  table-layout: fixed;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 43vw;
  max-height: inherit;
}

.hint_grid {
  margin-top: 30px;
  overflow-y: auto; 
  max-height: inherit;
  max-width: 17vw;
  grid-area: 1 / 2;
}

td {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  text-align: center;
  vertical-align: middle;
  border: 2px solid var(--cell-color);
  user-select: none;
}

.hidden {
  color: white;
}

.hint-border {
  border: 2px solid #1a0ebe;
}

.no-border {
  border-style: revert;
  color: white
}

ol {
  margin: 0;
  counter-reset: numbering;
  list-style-type: none;
}

ol li:before {
  content:counter(numbering) " ";
  counter-increment: numbering;
}

.highlight {
  background: #1a0ebe;
  color: white;
}

p {
  display: inline;
  margin: 0;
  padding: 0;
}

.cell_hint {
  position: absolute;
  font-size: 0.6em;
  &.l {
    margin-top: calc(var(--cell-size) / 10);
    right: 2px;
  }
  &.r {
    margin-top: calc(var(--cell-size) / 10);
    left: 2px;
  }
  &.u {
    bottom: 0;
    left: 0;
    right: 0;
  }
  &.d {
    top: 0;
    left: 0;
    right: 0;
  }
  &.dil {
    bottom: 0;
    left: 2px;
  }
  &.dir {
    bottom: 0;
    right: 2px;
  }
  &.dilu {
    top: 0;
    left: 2px;
  }
  &.diru {
    top: 0;
    right: 2px;
  }
}

@supports (scrollbar-width: thin) {
  .hint_grid {
    scrollbar-width: thin;
  }
}

@supports selector(::webkit-scrollbar) {
  .hint_grid::webkit-scrollbar {
    width: 15px; 
  }
}