<div class="button">
  <button (click)="fillGrid()" [disabled]="loading && progress < 100">Generate!</button> <br>
  <button (click)="toggleContent()">@if(hidden_content) {Show} @else {Hide} Content</button> <br>
  @if(progress < 100 && loading) {
    <p>Database is loading, please wait ...</p>
  } @else if(progress > 100) {
    <p>Loading finished!</p>
  }
</div>
<table>
  <tbody>
    @for (columns of cell_grid; track columns) {
      <tr>
        @for (rows of columns; track rows) {
            <td [class.blue-border]="rows.isHint()" [class.no-border]="rows.Content == -1" [class.hidden]="hidden_content">

              {{rows.Content | char}}
            </td>
        }
      </tr>
    }
  </tbody>
</table>



<table>
  <tbody>
    @for (columns of cell_grid; track columns) {
      <tr>
        @for (rows of columns; track rows) {
          <td>
            {{rows.getHintByIndex(0) | replacement}}
          </td>
        }
      </tr>
    }
  </tbody>
</table>

<table>
  <tbody>
    @for (columns of cell_grid; track columns) {
      <tr>
        @for (rows of columns; track rows) {
          <td>
            {{rows.getDirectionByIndex(0)}}
          </td>
        }
      </tr>
    }
  </tbody>
</table>