.grid_container {
    display: grid;
    grid-template-columns: 18vw 60vw 20vw;
    grid-template-rows: 50px calc(97.5vh - 50px);
    grid-column-gap: 5px;
}

.main_table {
    grid-area: 2 / 2;
}

.control_panel {
    grid-area: 2 / -2;
}

.top_bar {
    grid-column: 1 / -1;
}